html,body{
	margin: 0px;
	font-family: Arial;
}

.btn{
	margin-top: 10px;
	background-color: inherit;
	border: none;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	padding: 10px 12px;
	border-radius: 8px;
	border: 1px solid black;
}

.be-col{
	background-color: rgb(31,212,100);
}

.be-green{
	background-color: rgb(31,212,100);
}

.white{
	color: white; 
} 

#logo{
	font-size: 1.3em;
}

.large-padding{
	padding: 7px 3px;
}

a,a:visited{
	color: inherit !important;
	text-decoration: none;
}

.no-margin{
	margin: 0px;
}

.field{
	margin-top: 1em;
}

.form-control{
	border: none;
	border-bottom: 1px solid;
	outline: none;
	width: 100%;
	display: block;
	padding: 10px 0px;
	font-size: 1.2em;
}

.text-left{
	text-align: left;
}